{% load i18n %}

{% block subject %}
{% blocktrans %}Восстановление пароля на {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% if user.first_name %}
  Здравствуйте,  {{ user.first_name }}!
{% else %}
  Здравствуйте,  {{ user.get_username }}!
{% endif %}
{% block text_body %}
{% blocktrans %}Мы получили запрос на восстановление пароля к учетной записи на сайте {{ site_name }}, привязанной к вашей почте.{% endblocktrans %}

{% trans "Чтобы завершить процедуру, пройдите по ссылке:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Если вы не обращались к процедуре восстановления пароля, просто проигнорируйте это сообщение." %}




{% trans "С уважением," %}
{% blocktrans %}Команда {{ site_name }}{% endblocktrans %}
{% trans "Lesya-i-Moa@yandex.ru" %}
{% endblock text_body %}

{% block html_body %}
{% if user.first_name %}
  <h1>Здравствуйте,  {{ user.first_name }}!</h1>
{% else %}
  <h1>Здравствуйте, {{ user.get_username }}!</h1>
{% endif %}

<p style="margin-top: 50px;">Мы получили запрос на восстановление пароля к учетной записи на сайте {{ site_name }}, привязанной к вашей почте.</p>

<p style="margin-top: 30px;">Чтобы завершить процедуру, <a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">пройдите по ссылке. </a></p>

<p style="margin-top: 60px;">Если вы не обращались к процедуре восстановления пароля, просто проигнорируйте это сообщение.</p>

<p style="margin-top: 80px;">С уважением,<br>
    Команда {{ site_name }}<br>
    <br>
    <u>Lesya-i-Moa@yandex.ru</u>
</p>
{% endblock html_body %}